/* Icon */

.icon {
    @include icon;
    border-bottom: none;
    position: relative;

    > .label {
        display: none;
    }

    &.major {
        @include icon;
        color: _palette(fg-bold);
        cursor: default;
        display: inline-block;
        margin: 0 0 (_size(element-margin) * 0.75) 0;

        &:before {
            font-size: 4em;
            line-height: 1em;
        }
    }
}
