@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import "libs/skel";
@import url('../css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");


@include skel-breakpoints((
	xlarge: '(max-width: 1680px)',
	large: '(max-width: 1280px)',
	medium: '(max-width: 980px)',
	small: '(max-width: 736px)',
	xsmall: '(max-width: 480px)',
	xxsmall: '(max-width: 360px)'
));

@include skel-layout((
	reset: 'full',
	boxModel: 'border'
));


html {
    scroll-behavior: smooth;
}
body {
    background: _palette(bg);

    .body {
        margin-top: -4em;

        &.is-loading {
            *, *:before, *:after {
                @include vendor('animation', 'none !important');
                @include vendor('transition', 'none !important');
            }
        }
    }
}
@include breakpoint(xxsmall) {

/* Basic */

	html, body {
		min-width: 320px;
	}
}

.logo {
    &.brand {
        background-image: url('../images/logo-msb.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 15em;
        height: 15em;
        display: inline-block;
    }
}

.marketing-main {
	@import "css-grid";

	@import './basic';

	@import './section';

	@import './form';

	@import './box';

	@import './icon';

	@import './image';

	@import './list';

	@import './table';

	@import './button';

	@import './dialog'; 

	@import './navigation';

	@import './layouts';

	@import './header';

	@import './footer';


	/* Main */

		.main {
			@include padding(6em, 0);

			&.gradient-section {
				@include dark(#333);
				background: _palette(bg);
				background: linear-gradient(180deg, _palette(bg) 25%, _palette(accent3-alt) 100%);
			}

			&.academia {
				@include dark(#333);
				background-attachment:	fixed;
				background-image:		url('../images/fondo-academia.jpg');
				background-position: right;
				background-size: cover;
			}

			&.inversores {
				@include dark(#333);
				background-attachment:	fixed;
				background-image:		url('../images/fondo-inversores.jpg');
				background-position: right;
				background-size: cover;
			}
		}

		
	/* Señales */

	#senales {
		text-align: center;
	}
		
	/* Testimonios */

	#testimonios {
		text-align: center;
	}

	#CTA {
		@include dark(#333);
	}

	@import './xlarge';
	@import './large';


	@import './medium';

	@import './small';

	@import './xsmall';

	@import './xxsmall';
}